<section ng-controller="AddController as AC">
    <form>
        <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" ng-model="AC.city" placeholder="Minneapolis, Chicago, New York, etc...">
        </div>
        <div class="form-group">
            <label>Listing Price</label>
            <input type="number" class="form-control" ng-model="AC.price" placeholder="$200,000, $50,000, etc...">
        </div>
        <div class="form-group">
            <label>Square Feet</label>
            <input type="number" class="form-control" ng-model="AC.sqft" placeholder="2000, 1000, etc...">
        </div>
        <fieldset ng-model="AC.type" class="form-group">
            <label>Type of Listing</label>
            <div class="form-check">
            <label class="form-check-label">
                <input type="radio" ng-model="AC.type" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="rent" checked>
                Rental
            </label>
            </div>
            <div class="form-check">
            <label class="form-check-label">
                <input type="radio" ng-model="AC.type" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="sale">
                For Sale
            </label>
        </fieldset>
        <div class="form-group">
            <label>Listing Image</label>
            <select class="form-control" ng-model="AC.image">
                <option value="choose" disabled>Choose your property image</option>
                <option value="classic-flats.jpg">Classic Flats</option>
                <option value="haunted.png">Haunted</option>
                <option value="older.jpg">Older</option>
                <option value="rental.jpg">Rental</option>
                <option value="rental2.jpg">Rental 2</option>
                <option value="shiny.jpg">Shiny</option>
                <option value="stony.jpg">Stony</option>
            </select>
        </div>
        <input type="submit" value="Submit Listing" ng-click="AC.addListing()" class="btn btn-primary">
    </form>
    <div id="previewSection">
        <h3>Image preview</h3>
        <img id="previewImage" ng-src="../images/{{AC.image}}" alt="">
    </div>
</section>